body {
    background-image: url("Style_image/website-background01.jpeg")
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111111;
        }

h3 {
    color: white;
}

.mainDiv {
    padding-top: 20px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: #3C6478;
    width: 40%;
    height: 100%;
}

.posDiv {

    color: white;
    margin-left: 50px;
    height: 110%;
    padding-bottom: 30px;
}

hr {
    margin-left: 0px;
    margin-top:25px;
    width: 530px;
}

.title{
    padding-left:30px;
    color:black;
}

.tableDiv {
    background-color:darkslategray;
    width:auto;
    height:auto;
}
